node_modules/
.clasp.json
.clasprc.json
trackerpal-extension/config.js
trackerpal-bound-ui/src/PrivateConfig.js
trackerpal-desktop/src/PrivateConfig.js
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/
dist/
coverage/
